<div class="card mb-5">
  <div class="card-heading text-center p-3 border">
    <b><%= comment.title %></b>
    <% if comment.status == 0 %>
      <span class="badge badge-pill badge-success float-right">Waiting for Accept</span>
    <% end %>
  </div>

  <div class="card-body">
    <%= comment.content %>
  </div>

  <div class="card-footer">
    <div class="row text-center">
      <div class="col-sm-6">✍ <%= comment.user.username %><br></div>
      <div class="col-sm-6">⏱️ <%= time_ago_in_words(comment.created_at) %></div>
    </div>
  </div>
</div>